
<app-nav></app-nav>
<div class="container" style="text-align: center; justify-content: center; padding: 20px;">
    <h1 class="text-center">Forget-Password Form</h1>
<form [formGroup]="forgetPassForm"  class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Email-Id</mat-label>
        <input type="text" matInput formControlName="emailId" placeholder="Ex. Kal@gmail.com">
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="getFromControl['emailId'].touched&&getFromControl['emailId'].invalid">
        <div *ngIf="getFromControl['emailId'].errors&&getFromControl['emailId'].errors['required']">
            <strong>Email-Id is required</strong>
        </div>
    </div>
    <br>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <button *ngIf="!otpShowButton" mat-raised-button color="accent"  (click)="forgetBtn()">Send
        Email</button>

    <div *ngIf="otpShowButton">
        <mat-form-field class="example-full-width">
            <mat-label>Otp Enter</mat-label>
            <input type="text" matInput formControlName="otp" placeholder="Ex. 123456">
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="getFromControl['otp'].touched&&getFromControl['otp'].invalid">
            <div *ngIf="getFromControl['otp'].errors&&getFromControl['otp'].errors['required']">
                <strong>Otp is required</strong>
            </div>
        </div>
        <div *ngIf="verifybtn">
            <div *ngIf="isTimerStarted">
                <h1>{{ seconds }}</h1>
              </div>
              <div *ngIf="!isTimerStarted">
                <h1>Timer Finished!</h1>
              </div>
        </div>
        <button *ngIf="verifybtn" mat-raised-button color="accent"  (click)="verifyOtp()">Verify Otp</button>
    </div>
    <div *ngIf="newpasswordbtn">
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="text" matInput formControlName="password" placeholder="Ex. Kal@#123">
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="getFromControl['password'].touched&&getFromControl['password'].invalid">
            <div *ngIf="getFromControl['password'].errors&&getFromControl['password'].errors['required']">
              <strong>password is required</strong>
            </div>
          </div>
          <button mat-raised-button color="accent"  (click)="newPassword()">Update Password</button>
    </div>
    
</form>
</div>