  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Div Example</title>
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <app-nav></app-nav>

  <body>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z81">

        <!-- Define your table columns -->
        <ng-container matColumnDef="tRid">
          <th mat-header-cell *matHeaderCellDef>Transaction ID </th>
          <td mat-cell *matCellDef="let element"> {{element.trid}} </td>
        </ng-container>

        <!-- [ngClass]="{
          'withdraw-status':  element.trname === 'WITHDRAW',
          'deposite-status': element.trname === 'Deposite'}" -->
        <ng-container matColumnDef="tRname">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.trname}} </td>
        </ng-container>
        <ng-container matColumnDef="tRaccountType">
          <th mat-header-cell *matHeaderCellDef> Account Type </th>
          <td mat-cell *matCellDef="let element"> {{element.traccountType}} </td>
        </ng-container>

        <ng-container matColumnDef="tRaccountNo">
          <th mat-header-cell *matHeaderCellDef> Account Number </th>
          <td mat-cell *matCellDef="let element"> {{element.traccountNo}} </td>
        </ng-container>

        <ng-container matColumnDef="tRsenderAccountNo">
          <th mat-header-cell *matHeaderCellDef> Sender Account No </th>
          <td mat-cell *matCellDef="let element"> {{element.trsenderAccountNo}} </td>
        </ng-container>

        <ng-container matColumnDef="tRdescription">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.trdescription}} </td>
        </ng-container>
        <!-- 'failed-row': element.trstatus === 'FAILED' && element.trname === 'WITHDRAW', -->
        <ng-container matColumnDef="tRstatus">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{
           
            'success-row': element.trstatus === 'SUCCESS'
          }">
            <!-- <td mat-cell *matCellDef="let element"> -->
            {{element.trstatus}}
          </td>
        </ng-container>

        <ng-container matColumnDef="transactionTime">
          <th mat-header-cell *matHeaderCellDef> Transaction Time </th>
          <td mat-cell *matCellDef="let element"> {{element.transactionTime}} </td>
        </ng-container>

        <ng-container matColumnDef="tRbalance">
          <th mat-header-cell *matHeaderCellDef> Transaction Amount </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{
            'withdraw-status-success':  element.trname === 'WITHDRAW' && element.trstatus === 'SUCCESS',
            'deposite-status-success': element.trname === 'Deposite' && element.trstatus === 'SUCCESS',
            'withdraw-status-faild':  element.trname === 'WITHDRAW' && element.trstatus === 'FAILED',
            'deposite-status-faild': element.trname === 'Deposite' && element.trstatus === 'FAILED',
          }"> {{getFormattedBalance(element)}} </td>
        </ng-container>

        <ng-container matColumnDef="walletId">
          <th mat-header-cell *matHeaderCellDef> Wallet ID </th>
          <td mat-cell *matCellDef="let element"> {{element.walletId}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element"> Action Buttons Here </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; " [ngClass]="isFailed(row.trstatus)"></tr>
      </table>

      <!-- Add pagination here -->
    </div>
    <div class="pegination">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>


    <!-- <div class="mat-elevation-z8">
  <table class="mat-elevation-z81">
adasdasdsadadsdsadadsadsadsadsadsadsasd
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus a neque, officia dignissimos in saepe numquam, illo dolores excepturi reiciendis repellendus recusandae impedit fugit nam doloribus reprehenderit aliquam! Velit.
  </table>
</div>
<div class="pegination">

</div> -->