<form [formGroup]="withDepForm" (ngSubmit)="withDepButton()" class="example-form">

  <mat-form-field>
    <mat-label>Choose one Option Withdraw Or Deposit</mat-label>
    <mat-select formControlName="item">
      <mat-option>Clear</mat-option>
      <mat-option [value]="item" *ngFor="let item of withdrawArr">{{item}}</mat-option>
      <!-- <mat-option value="invalid">Invalid option</mat-option> -->
    </mat-select>
    <mat-hint>Select One Option Withdraw Or Deposit</mat-hint>
  </mat-form-field>

  <div *ngIf="withDepForm.value.item==='Deposit' || withDepForm.value.item==='Withdraw'">
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Account Number</mat-label>
        <input type="text" matInput formControlName="accontNumber" placeholder="Ex. PUNB51059980959806142364">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Balance</mat-label>
        <input type="number" matInput formControlName="bankDeposite" placeholder="Ex. 2000">
      </mat-form-field>
    </div>

    <div>
      <button *ngIf="withDepForm.value.item==='Deposit'" mat-raised-button color="accent">Deposit</button>
      <button *ngIf="withDepForm.value.item==='Withdraw'" mat-raised-button color="accent">Withdraw</button>
    </div>
  </div>





  <!-- <input type="button" value="Submit" (click)="GetTransactionHistorybyWalletId()">
<div class="container mt-4">
      <h2>Transactions</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Name</th>
            <th>Receiver Account No</th>
            <th>Receiver Account Type</th>
            <th>Balance</th>
            <th>Sender Account No</th>
            <th>Description</th>
            <th>Status</th>
            <th>Transaction Time</th>
            <th>Wallet ID</th>
            <th>Bank Deposit</th>
            <th>Bank Withdraw</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of TransactionDataBywalletId">
            <td>{{ transaction.trid }}</td>
            <td>{{ transaction.trname }}</td>
            <td>{{ transaction.traccountNo }}</td>
            <td>{{ transaction.trbalance }}</td>
            <td>{{ transaction.transactionTime }}</td>
            <td>{{ transaction.walletId }}</td>
            <td>{{ transaction.bankDeposite }}</td>
            <td>{{ transaction.bankWithDraw }}</td>
            <td>{{ transaction.trsenderAccountNo }}</td>
            
            <td>{{ transaction.trdescription }}</td>
            
            <td>{{ transaction.trstatus }}</td>
            
            <td>{{ transaction.traccountType }}</td>
           
          </tr>
        </tbody>
      </table>
    </div>
    

   -->