<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finance Tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <app-nav></app-nav>
  <div class="container-fluid homepage">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-8 col-lg-6" id="textbox">
        <h1 class="display-4">Finance Tracker</h1>
        <hr>
        <p class="lead">Flexible Financial Solutions</p>
        <p class="mb-4">Manage your finances effortlessly with our user-friendly platform.</p>
        <p class="mb-4">Welcome to our finance tracker, where managing your money is made simple. Whether you're budgeting for everyday expenses or planning for future milestones, our intuitive tools are designed to empower you. Track your spending, visualize trends, and set achievable goals with ease. Our platform offers real-time insights into your financial health, helping you make informed decisions every step of the way. Join us on the journey to financial wellness and start taking control of your finances today.</p>
       <hr> 
       <div class="buttons" >
            <a href="/newAccount" class="btn btn-custom-red btn-lg mr-3">Register</a>
            <a href="#" class="btn btn-custom-orange btn-lg">Login</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
